# Node.js dependencies
**/node_modules
**/npm-debug.log

# Python virtual environments
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Development/environment files
**/.vscode
**/.idea
**/.DS_Store

# Logs
**/logs
*.log

# Unit test / coverage reports
**/htmlcov
**/.coverage
**/.tox